.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar > p {
  font-size: small;
  color: var(--gray-600);
  font-weight: 700;
}

.sidebar_item_container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 2rem;
}
